@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #212e3c;
    --color-secondary: rgb(48, 48, 48);
    --color-tertiary: rgb(64, 64, 64);
    --color-quaternary: rgb(80, 80, 80);
    --color-dim-white: rgb(208, 208, 208);
}

@layer utilities {
    .bg-primary {
        background: var(--color-primary);
    }

    .bg-secondary {
        background: var(--color-secondary);
    }

    .bg-tertiary {
        background: var(--color-tertiary);
    }

    .bg-quaternary {
        background: var(--color-quaternary);
    }

    .border-primary {
        border-color: var(--color-primary);
    }

    .border-secondary {
        border-color: var(--color-secondary);
    }

    .border-tertiary {
        border-color: var(--color-tertiary);
    }

    .border-quaternary {
        border-color: var(--color-quaternary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .text-secondary {
        color: var(--color-secondary);
    }

    .text-tertiary {
        color: var(--color-tertiary);
    }

    .text-quaternary {
        color: var(--color-quaternary);
    }
}

@layer base {
    input[type="number"],
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        outline: none !important;
    }
    input[type="file"] {
        display: none;
    }
}
  
.transformNumberInput::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    border-width: 4px;
    border-style: solid;
    border-color: var(--corner-color);
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}

.bg {
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(16,16,16,1) 100%);
}

h3 {
    font-size: 1.6em;
    color: rgb(224, 224, 224)
}

p {
    font-size: 1.1em;
    white-space: pre-line;
    line-height: 1.3em;
    color: rgb(192, 192, 192);
}